2captcha-python==1.1.3
aiohttp==3.8.3
aiosignal==1.2.0
altair==4.2.0
asttokens==2.0.8
async-generator==1.10
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
black==22.8.0
blinker==1.6.2
Brotli==1.0.9
bs4==0.0.1
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
chatGPT==0.3.6
chatgptpy==1.0.8
clang-format==15.0.4
clang-tidy==14.0.6
click==8.1.3
codespell==2.2.2
colorama==0.4.5
commonmark==0.9.1
cssselect2==0.7.0
debugpy==1.6.3
decorator==5.1.1
docopt==0.6.2
entrypoints==0.4
exceptiongroup==1.1.0
executing==1.1.0
Flask==2.3.2
frozenlist==1.3.1
gitdb==4.0.9
GitPython==3.1.29
greenlet==2.0.1
h11==0.14.0
idna==3.4
importlib-metadata==5.0.0
ipykernel==6.16.0
ipython==8.5.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.17.0
jupyter-core==4.11.1
jupyter_client==7.3.5
keyboard==0.13.5
lxml==4.9.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
multidict==6.0.2
mutagen==1.45.1
mypy-extensions==0.4.3
nest-asyncio==1.5.6
numpy==1.23.4
outcome==1.2.0
packaging==21.3
pandas==1.5.1
parso==0.8.3
pathspec==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pipreqs==0.4.11
platformdirs==2.5.2
playwright==1.29.1
prompt-toolkit==3.0.31
protobuf==3.20.3
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.0
pycryptodomex==3.15.0
pydeck==0.8.0
pyee==9.0.4
Pygments==2.13.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.19.2
PySocks==1.7.1
pyte==0.8.1
python-dateutil==2.8.2
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==24.0.1
reportlab==3.6.12
requests==2.28.1
revChatGPT==0.1.1
rich==12.6.0
selenium==4.7.2
semver==2.13.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spotify-local==0.3.2
stack-data==0.5.1
streamlit==1.14.0
svglib==1.5.1
thefuck==3.32
tinycss2==1.2.1
tls-client==0.1.8
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
traitlets==5.4.0
trio==0.22.0
trio-websocket==0.9.2
typer==0.9.0
typing_extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
undetected-chromedriver==3.2.1
urllib3==1.26.12
validators==0.20.0
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
Werkzeug==2.3.4
wsproto==1.2.0
XlsxWriter==3.0.3
yarg==0.1.9
yarl==1.8.1
yt-dlp==2022.10.4
zipp==3.10.0
